body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}


header {
    background-color: #15102E;
    color: #f4BFC9;
    padding: 20px;
    text-align: left;
    font-size: 15px;
}


nav {
    text-align: right;
    margin-top: -20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #F4BFC9;
}

nav a:hover {
    text-decoration: underline;
}


.content {
    text-align: center;
    padding: 250px 20px;
}

.content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #E55B84;
}


.content .links a {
    text-decoration: none;
    color: #797979;
    margin: 0 30px;
}

.content .links a:hover {
    text-decoration: underline;
    color: #f4BFC9;
}